.container {
  background-color: white;
  border-radius: 16px;
  font-family: var(--font-poppins);
  border: 1px #e0e5f2 solid;
}

.question {
  color: #2b3674;
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
}

.value {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.shownInput {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 10px;
  color: #000000;
  background-color: transparent;
  font-size: 12px;
  font-family: var(--font-poppins);
  font-weight: 500;
  word-wrap: break-word;
  resize: none;
  padding-left: 17px;
  padding-right: 17px;
}

.shown_drop_down_round {
  border-radius: 20px;
}

.show_drop_down {
  border: 2px #005aa3 solid;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.input_container {
  position: relative;
  width: 100%;
}

.option_list_div {
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 99;
  max-height: 300px;
  overflow-y: scroll;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.option_list_div_round {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.option_item {
  padding: 10px;
}

.option_item:hover {
  color: white;
  background-color: blue;
}

.errorBlock {
  width: 100%;
  color: #ff0000;
  font-size: 14px;
}

.error_input_box {
  border-color: #ff0000;
  border-width: 2px;
  background-color: rgba(255, 0, 0, 0.1);
}

.non_select_option {
  padding: 10px;
  background-color: gray;
  cursor: default;
}

.non_select_option:hover {
  background-color: gray;
}
