.container {
  display: flex;
  flex-direction: column;
}

.input-field {
  height: 40px;
  background-color: var(--dropdown-background-color) !important;
}
/* .input-field:hover {
  background-color: var(--dropdown-hover-color) !important;
} */

.defaultMenuItem {
  width: 100%;
  font-size: 12px;
  font-family: var(--font-poppins);
  font-weight: 400;
  color: #313144;
}
