.Container {
  display: flex;
}

.pageButton {
  padding: 8px 12px;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
  color: #000000;
  border: 1px solid #DFE3E8;
  transition: background-color 0.3s;
  font-weight: 700;
  word-wrap: break-word;
  background: #FFF;
}

.pageButton:hover {
  background-color: #038aff;
  color: #fff;
}

.currentPage {
  color: #038aff;
  border-color: #038aff;
}

.atLimit {
  color: #C4CDD5;
  background-color: #919EAB;
  border-color: #919EAB;
}

.boundary .atLimit:hover {
  background-color: #919EAB; 
  color: #C4CDD5; 
}

.arrowSymbol {
  color: purple;
}