.screen {
  width: 100vw;
  height: 100vh;
  background: white;
  padding-top: 14%;
  padding-bottom: 6%;
  padding-left: 11%;
  padding-right: 8%;
  overflow: hidden;
}

.splitScreen {
  display: flex;
  height: 72%;
}

.leftPanel {
  flex: 27;
}

.middleSpace {
  flex: 25;
}

.rightPanel {
  flex: 30;
  display: flex;
  flex-direction: column;
}

.accountRecovery {
  color: #2b3674;
  font-size: 28px;
  font-family: var(--font-poppins);
  font-weight: 700;
  line-height: 56px;
  word-wrap: break-word;
}

.passwordReset {
  color: #2b3674;
  font-size: 32px;
  font-family: var(--font-poppins);
  font-weight: 700;
  word-wrap: break-word;
  padding-bottom: 2%;
}

.passwordsContainer {
  position: relative;
}

.passwords {
  position: relative;
  padding-top: 3%;
}

.descriptionText {
  color: #a3aed0;
  font-size: 11px;
  font-family: var(--font-poppins);
  font-weight: 400;
  word-wrap: break-word;
  padding-bottom: 6%;
}

.inputFields {
  position: relative;
  width: 74%;
}

.firstLastName {
  display: flex;
  flex-direction: row;
  padding-bottom: 3%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.nameField {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.emailField {
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  position: relative;
}

.locationField {
  display: flex;
  flex-direction: column;
  padding-top: 4%;
  position: relative;
}

.chapterNotFound {
  position: relative;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.notFoundMessage {
  font-family: var(--font-poppins);
  font-weight: 500;
  color: #2b3674;
  padding-left: 5px;
  font-size: 10px;
}

.notFoundIcon {
  color: #2b3674;
}

.generalError {
  position: relative;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.errorIcon {
  color: #ff0000;
}

.errorMessage {
  font-family: var(--font-poppins);
  font-weight: 500;
  color: #ff0000;
  padding-left: 5px;
  font-size: 10px;
}

.continueButtonContainer {
  display: flex;
  padding-top: 10%;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.googleButtonContainer {
  display: flex;
  padding-top: 2%;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding-top: 7%;
  width: 100%;
}

.textWrapper4 {
  color: #a3aed0;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  line-height: 48px;
  text-align: center;
  white-space: nowrap;
  margin: 0 10px;
}

.line,
.img {
  flex: 1;
  width: 20%;
  height: 1px;
}
.continueButton {
  color: white;
  background-color: #005aa3;
  font-size: 14px;
  font-family: var(--font-poppins);
  font-weight: 700;
  line-height: 14px;
  word-wrap: break-word;
  text-align: center;
  width: 100%;
  height: 43px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #005aa3;
  border-radius: 16px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkboxContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.bottomTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.checkboxLabel {
  color: #005aa3;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.forgotPassword {
  color: #005aa3;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  cursor: pointer;
}

.checkboxIcon {
  margin-right: 10px;
}

.googleButton {
  display: flex;
  align-items: center;
  color: #2b3674;
  background-color: #a3aed0;
  font-size: 14px;
  font-family: var(--font-poppins);
  font-weight: 500;
  line-height: 14px;
  word-wrap: break-word;
  text-align: center;
  width: 100%;
  height: 43px;
  background: #f4f7fe;
  border-radius: 16px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
