.wrapper {
  flex-direction: row;
  color: #8f9bba;
  min-height: 100vh;
  width: 100%;
}

.navigation-panel {
  display: flex;
  flex-direction: column;
  color: white;
  width: 304px;
  position: fixed;
}

.rest-of-page {
  display: flex;
  color: #8f9bba;
  background-color: #f4f7fe;
  padding-left: 304px;
  width: 100%;
  min-height: 100vh;
}

.accountEditModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 304px);
  height: 100vh;
  z-index: 9;
}

.modalBackground {
  position: absolute;
  background-color: #9ca5c2f0;
  width: 100%;
  height: 100%;
}

.accountEditModalContent {
  width: 80%;
  height: 80%;
  z-index: 10;
}
