.accountRecovery {
  color: #2b3674;
  font-size: 28px;
  font-family: var(--font-poppins);
  font-weight: 700;
  padding-bottom: 6px;
  word-wrap: break-word;
}

.descriptionText {
  color: #a3aed0;
  font-size: 14px;
  font-family: var(--font-poppins);
  font-weight: 400;
  word-wrap: break-word;
  padding-bottom: 6%;
}

.inputFields {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.firstLastName {
  display: flex;
  flex-direction: row;
  padding-bottom: 3%;
  column-gap: 10px;
  width: 100%;
}

.nameField {
  display: flex;
  flex-direction: column;
  width: calc((100% - 10px) / 2);
}

.emailField {
  display: flex;
  flex-direction: column;
  padding-top: 4%;
}

.locationField {
  display: flex;
  flex-direction: column;
  padding-top: 4%;
}

.roleField {
  display: flex;
  flex-direction: column;
  padding-top: 4%;
}

.cityStateFields {
  display: flex;
  column-gap: 10px;
}

.cityStateFields > * {
  /* flex: 1 */
  width: calc((100% - 10px) / 2);
}

@media (max-width: 1000px) {
  .cityStateFields {
    flex-direction: column;
  }
}

.chapterNotFound {
  flex-direction: column;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 6%;
}

.notFoundMessage {
  font-family: var(--font-poppins);
  font-weight: 400;
  color: #2b3674;
  padding-left: 5px;
  font-size: 12px;
}

.notFoundIcon {
  color: #008afc;
}

.notFoundEmail {
  color: #008afc;
}

.generalError {
  flex-direction: column;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 15px;
}

.googleGLogo {
  display: block;
  margin-right: 10px;
}
.errorIcon {
  color: #ff0000;
}

.errorMessage {
  font-family: var(--font-poppins);
  font-weight: 500;
  color: #ff0000;
  padding-left: 5px;
  font-size: 12px;
}

.continueButtonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.continueButton {
  color: white;
  background-color: #008afc;
  font-size: 14px;
  font-family: var(--font-poppins);
  font-weight: 700;
  word-wrap: break-word;
  width: 100%;
  height: 45px;
  padding: 10px 8px;
  border-radius: 16px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.emailSentText {
  color: #2b3674;
  font-size: 33px;
  font-family: var(--font-poppins);
  font-weight: 700;
  line-height: 56px;
  word-wrap: break-word;
}

.emailSentDescription {
  color: #a3aed0;
  font-size: 12px;
  font-family: var(--font-poppins);
  font-weight: 400;
  line-height: 20.37px;
  word-wrap: break-word;
  padding-right: 12%;
}
