.screen {
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  padding-top: 4%;
  padding-left: 11%;
  padding-right: 8%;
}

.splitScreen {
  display: flex;
  width: 100%;
}

.leftPanel {
  flex: 27;
}

.middleSpace {
  flex: 25;
}

.rightPanel {
  flex: 30;
  display: flex;
  flex-direction: column;
}

.rightContainer {
  width: 74%;
}

.accountRecovery {
  color: #2b3674;
  font-size: 28px;
  font-family: var(--font-poppins);
  font-weight: 700;
  line-height: 56px;
  word-wrap: break-word;
}

.descriptionText {
  color: #a3aed0;
  font-size: 11px;
  font-family: var(--font-poppins);
  font-weight: 400;
  word-wrap: break-word;
  padding-bottom: 6%;
}

.inputFields {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.firstLastName {
  display: flex;
  flex-direction: row;
  padding-bottom: 3%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.nameField {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.emailField {
  display: flex;
  flex-direction: column;
  padding-top: 4%;
  position: relative;
}

.locationField {
  display: flex;
  flex-direction: column;
  padding-top: 4%;
  position: relative;
}

.cityStateFields {
  display: flex;
  column-gap: 10px;
}

.cityStateFields > * {
  flex: 1;
}

@media (max-width: 1000px) {
  .cityStateFields {
    flex-direction: column;
  }
}

.chapterNotFound {
  position: relative;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.notFoundMessage {
  font-family: var(--font-poppins);
  font-weight: 500;
  color: #2b3674;
  padding-left: 5px;
  font-size: 10px;
}

.notFoundIcon {
  color: #2b3674;
}

.generalError {
  position: relative;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.googleGLogo {
  display: block;
  margin-right: 10px;
}
.errorIcon {
  color: #ff0000;
}

.errorMessage {
  font-family: var(--font-poppins);
  font-weight: 500;
  color: #ff0000;
  padding-left: 5px;
  font-size: 10px;
}

.continueButtonContainer {
  display: flex;
  padding-top: 10%;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.continueButton {
  color: white;
  background-color: #005aa3;
  font-size: 14px;
  font-family: var(--font-poppins);
  font-weight: 700;
  line-height: 14px;
  word-wrap: break-word;
  text-align: center;
  width: 100%;
  height: 43px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #005aa3;
  border-radius: 16px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.emailSentText {
  color: #2b3674;
  font-size: 33px;
  font-family: var(--font-poppins);
  font-weight: 700;
  line-height: 56px;
  word-wrap: break-word;
}

.emailSentDescription {
  color: #a3aed0;
  font-size: 12px;
  font-family: var(--font-poppins);
  font-weight: 400;
  line-height: 20.37px;
  word-wrap: break-word;
  padding-right: 12%;
}
