.container {
}

.border {
  display: flex;
  flex-direction: row;
  background-color: #ffeff2;
  width: fit-content;
  padding-top: 0.5vh;
}

.text {
  color: rgba(0, 0, 0, 0.85);
  font-size: 12px;
  font-family: var(--font-poppins);
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.x-icon {
  color: #00000073;
  cursor: pointer;
  padding-right: 0.7vw;
  padding-bottom: 0.2vh;
}
