.dateSelector {
  margin-left: auto;
  padding-right: 20px;
}

.OverallDashboard {
  width: 100%;
  height: max-content;

  .titleRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 51px;

    .title {
      font-family: var(--font-poppins);
      font-weight: 700;
      font-size: 29.705px;
      font-style: normal;
    }
  }

  .bottomContainer {
    display: flex;
    column-gap: 15px;
    margin-top: 26px;

    .dateBoxes {
      display: flex;
      flex-direction: column;
      row-gap: 17px;

      .box {
        width: 100%;
        height: 78px;
      }
    }

    .graph {
      flex: 2;
    }

    .lastSession {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      flex: 2.5;

      .title {
        font-family: var(--font-poppins);
        font-weight: 600;
        font-size: 22px;
        color: #2b3674;
      }

      .verBoxes {
        display: flex;
        flex-direction: column;
        column-gap: 14px;
        row-gap: 14px;
      }
      .horBoxes {
        display: flex;
        flex-direction: row;
        column-gap: 14px;
        row-gap: 14px;
        .box {
          width: 100%;
          height: 100px;
        }
      }
    }
  }
}
