.DataGrid {
  width: 100%;
  background-color: white;
  border-radius: 15px;
}

.Container {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.noResultsContainer {
  width: fit-content;
  align-self: center;
  margin: 0 auto;

  display: flex;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);

  color: #2b3674;
  font-size: 18px;
  font-weight: 500;
}

.TopRow {
  color: #a3aed0;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  padding: 7px 0px 10px 7px;
  border-right: 3px solid transparent;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.TopRow:last-child {
  border-right: none;
}

.TopRowContainer {
  display: flex;
  flex-direction: row;
  column-gap: 7px;
  align-items: center;
}

.Table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.Table > thead {
  border-bottom: 1px solid #e9edf7;
}

.SortButton {
  cursor: pointer;
  width: min-content;
  padding: 1px;
}

.SortButtonInactive {
  opacity: 0.35;
}

.SortButtonInactive:hover {
  opacity: 0.65;
}
