.Row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.TopRow {
  text-align: left;
  color: var(--secondary-grey-600, #a3aed0);
  font-family: var(--font-dm-sans);
  font-size: 15.457px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.497px; /* 171.429% */
  letter-spacing: -0.309px;
  border-bottom: 1px solid;
  position: sticky;
}

.ExpandedRow {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background: var(--Selected-Blue, #e7eeff);
  padding-left: 27px;
  padding-top: 9px;
  display: relative;
}

.ExpandedRow > div {
    display: flex;
    flex-direction: column;
}

.Table {
  table-layout: fixed;
  width: "100%";
}
