.wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding: 10% 4%;
  /* overflow-y: scroll; */
  height: 100vh;
  white-space: nowrap;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.BEI-image {
  height: 98px;
  margin-bottom: 38px;
}

.divider {
  width: 100%;
  min-width: 230px;
  margin: 38% 0% 15% 0%;
  height: 1.5px;
  background-color: #c8c8c8;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 20%; */ /* problematic fixed */
  text-align: center;
}

.bei {
  color: #474747;
  font-size: 17px;
  font-family: var(--font-poppins);
  font-weight: 600;
  line-height: 21.04px;
  letter-spacing: 1.26px;
  word-wrap: break-word;
  padding-bottom: 3%;
}

.volunteer-portal {
  color: #008afc;
  font-size: 16px;
  font-family: var(--font-poppins);
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 1.8px;
  word-wrap: break-word;
  margin-bottom: -50px;
}

.admin-portal {
  color: #008afc;
  font-size: 16px;
  font-family: var(--font-poppins);
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 1.8px;
  word-wrap: break-word;
  margin-bottom: 2.8px;
}

.admin-role {
  color: var(--Dark-Blue-Grey, #9ca5c2);
  font-size: 14px;
  font-family: var(--font-poppins);
  font-weight: 600;
  line-height: normal;
  line-height: 19px;
  letter-spacing: 1.8px;
  word-wrap: break-word;
}

.role-container {
  margin-bottom: -50px;
}

.volunteer-management {
  color: #9ca5c2;
  font-size: 16px;
  font-family: var(--font-poppins);
  font-weight: 600;
  word-wrap: break-word;
  /* margin-left: -65px; */
  margin-bottom: 15px;
}
.patient-management {
  color: #9ca5c2;
  font-size: 16px;
  font-family: var(--font-poppins);
  font-weight: 600;
  word-wrap: break-word;
  /* margin-left: -80px; */
  margin-bottom: 15px;
}

.red-bubble {
  background-color: #ea4335;
  color: white;
  width: fit-content;
  min-width: 24px;
  padding: 8px;
  height: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: var(--font-poppins);
  font-weight: 600;
  margin-left: 10px;
}

.icon-shadow {
  background-color: #f4f7fe;
  border-radius: 9999px;
  height: 25px;
  width: 25px;
  justify-content: center;
  text-align: center;
}

.icon-active {
  color: #008afc;
  size: large;
  --fa-primary-color: #008afc;
  --fa-secondary-color: #f4f7fe;
  --fa-secondary-opacity: 0.4;
  padding-right: 7%;
}

.icon-shadow.icon-inactive {
  /* color: #e3eafc;
  color: #008afc;
  /* --fa-primary-color: #008afc;
  --fa-secondary-color: #f4f7fe;
  --fa-secondary-opacity: 0.4; */
  padding-right: 7%;
  /* background-color: #f4f7fe; */
  border-radius: 50%;
  margin-right: 20px;
  height: 25px;
  width: 25px;
  padding: 5px;
  justify-content: center;
  text-align: center;
  filter: grayscale(93%) brightness(175%);
}

.search-patient-active {
  width: 100%;
  height: 40px;
  background: #e7eeff;
  border-radius: 10px;
  border: none;
  color: #2b3674;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-poppins);
  cursor: pointer;
  padding: 0.5vh 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-patient-inactive {
  width: 100%;
  height: 40px;
  background: white;
  border-radius: 10px;
  border: none;
  color: #2b3674;
  /* color: #e3eafc; */
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-poppins);
  cursor: pointer;
  padding: 0.5vh 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-patient-text {
  padding-left: 5%;
}

.search-chapter-active {
  width: 100%;
  height: 40px;
  background: #e7eeff;
  border-radius: 10px;
  border: none;
  color: #2b3674;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-poppins);
  cursor: pointer;
  padding: 0.5vh 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-chapter-inactive {
  width: 100%;
  height: 40px;
  background: white;
  border-radius: 10px;
  border: none;
  /* color: #e3eafc; */
  color: #2b3674;

  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-poppins);
  cursor: pointer;
  padding: 0.5vh 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-chapter-text {
  padding-left: 5%;
}

.search-volunteer-active {
  width: 100%;
  height: 40px;
  background: #e7eeff;
  border-radius: 10px;
  border: none;
  color: #2b3674;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-poppins);
  cursor: pointer;
  padding: 0.5vh 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-volunteer-inactive {
  width: 100%;
  height: 40px;
  background: white;
  border-radius: 10px;
  border: none;
  /* color: #e3eafc; */
  color: #2b3674;

  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-poppins);
  cursor: pointer;
  padding: 0.5vh 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-volunteer-text {
  padding-left: 5%;
}

.volunteer-search-container {
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.approval-container-active {
  width: 100%;
  height: 40px;
  background: #e7eeff;
  border-radius: 10px;
  border: none;
  color: #2b3674;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-poppins);
  cursor: pointer;
  padding: 0.5vh 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.approval-container-inactive {
  width: 100%;
  height: 40px;
  background: white;
  border-radius: 10px;
  border: none;
  /* color: #e3eafc; */
  color: #2b3674;

  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-poppins);
  cursor: pointer;
  padding: 0.5vh 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.metrics-container {
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 7%;
}

.overall-metrics-container-active {
  width: 100%;
  height: 40px;
  background: #e7eeff;
  border-radius: 10px;
  border: none;
  color: #2b3674;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-poppins);
  cursor: pointer;
  padding: 0.5vh 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overall-metrics-container-inactive {
  width: 100%;
  height: 40px;
  background: white;
  border-radius: 10px;
  border: none;
  color: #e3eafc;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-poppins);
  cursor: pointer;
  padding: 0.5vh 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overall-metrics {
  font-size: 15px;
  font-family: var(--font-poppins);
  font-weight: 600;
  word-wrap: break-word;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-icon-wrapper {
  margin-left: 12px;
  display: inline;
  position: relative;
  cursor: pointer;
  pointer-events: all;
}

.info-icon {
  display: flex;
}

.info-icon-text {
  position: absolute;
  border-radius: 12px;
  padding: 10px 10px;
  top: 20px;
  width: 150px;
  right: 0px;
  text-wrap: wrap;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  background-color: #e3eafc;
  color: #2b3674;
}

.info-icon-wrapper:hover .info-icon-text {
  opacity: 1;
  visibility: visible;
}

.volunteer-container {
  display: flex;
  padding-bottom: 30px;
  cursor: pointer;
  align-items: center;
}

.volunteer-pfp {
  display: flex;
  width: 81.452px;
  height: 81.452px;
  aspect-ratio: 1;
  object-fit: cover;
  background-color: white;
  border-radius: 50%;
}

.volunteer-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 7%;
}

.user-name {
  color: #008afc;
  font-size: 16px;
  font-family: var(--font-poppins);
  font-weight: 600;
  word-wrap: break-word;
  /* padding-top: 10%; */
  padding-bottom: 1%;
}

.position {
  color: #a1a1a1;
  font-size: 15px;
  font-family: var(--font-poppins);
  font-weight: 400;
  word-wrap: break-word;
  text-wrap: wrap;
}

.topSection {
  margin-bottom: -10px;
}

.middleSection {
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 400px);
  min-width: 250px;
  padding-right: 3%;
}

.bottomSection {
  margin-top: -40px;
}
