.search-container {
  display: flex;
  height: 100%;
  padding: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: #2b3674;
  font-size: 22px;
  font-weight: 700;
  line-height: 36.69px;
  word-wrap: break-word;
  padding-bottom: 43px;
}

.search-wrapper {
  justify-self: center;
  width: 90%;
}

.table-wrapper {
  width: 96%;
}
