doctype html
head
  style.
    body {
      font-family: Poppins, sans-serif;
      background: #F4F7FE;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .container {
      background: #FFFFFF;
      padding: 40px 60px;
      border-radius: 15px;
      text-align: center;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      width: 80%; // or another size based on your preference
    }
    .img-box {
      margin-bottom: 20px;
    }
    .img-box img {
      width: 180px;
      height: 132.29px;
    }
    .title {
      font-size: 64px;
      font-weight: 600;
      margin-bottom: 40px;
      color: #2B3674;
    }
    .instructions-text {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 30px;
      color: #2B3674;
    }


body
  .container
    .img-box
      img(src='https://c.animaapp.com/2gdwBOyI/img/bei-1-1@2x.png')
    .title You've been denied
    .instructions-text An admin has denied your volunteer status. Contact your local BEI chapter for more information.
