.container {
  display: flex;
  flex-direction: column;
}

.label-container {
  display: flex;
  flex-direction: row;
}

.input-label {
  color: #2b3674;
  font-size: 13px;
  font-family: var(--font-poppins);
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
}

.asterisk {
  color: #005aa3;
  font-size: 13px;
  font-family: var(--font-poppins);
  font-weight: 500;
  line-height: 14px;
  word-wrap: break-word;
}

.input-container {
  padding-top: 8px;
  position: relative;
}

.input-field {
  color: #000000;
  width: 100%;
  background-color: transparent;
  font-size: 12px;
  font-family: var(--font-poppins);
  font-weight: 500;
  line-height: 35px;
  word-wrap: break-word;
  resize: none;
  height: 40px;
  border-radius: 16px;
  border: 1px #e0e5f2 solid;
  padding-left: 17px;
  padding-right: 43px;
}

.input-field::placeholder {
  color: #a3aed0;
}

.input-field-error {
  background-color: #f300001a;
  font-weight: 400;
  border: 1.5px #f30000 solid;
  outline: none;
}

.input-field-error::placeholder {
  color: #a3aed0;
}

.eye-icon {
  position: absolute;
  top: 36%;
  right: 17px;
  cursor: pointer;
  color: #a3aed0;
}

.error-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.error-icon {
  color: #ff0000;
}

.error-message {
  font-family: var(--font-poppins);
  font-weight: 500;
  color: #ff0000;
  padding-left: 5px;
  font-size: 11px;
}
