.signUpLabel {
  color: #2b3674;
  font-size: 28px;
  font-family: var(--font-poppins);
  font-weight: 700;
  padding-bottom: 6px;
  word-wrap: break-word;
}

.passwords {
  padding-top: 3%;
}

.descriptionText {
  color: #a3aed0;
  font-size: 14px;
  font-family: var(--font-poppins);
  font-weight: 400;
  word-wrap: break-word;
  padding-bottom: 6%;
}

.inputFields {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 9%;
}

.emailField {
  display: flex;
  flex-direction: column;
  padding-top: 7%;
}

.generalError {
  flex-direction: column;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 15px;
}

.errorIcon {
  color: #ff0000;
}

.errorMessage {
  font-family: var(--font-poppins);
  font-weight: 500;
  color: #ff0000;
  padding-left: 5px;
  font-size: 11px;
}

.continueButtonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.googleButtonContainer {
  display: flex;
  padding-top: 2%;
  flex-direction: column;
  width: 100%;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding-top: 7%;
  width: 100%;
}

.textWrapper4 {
  color: #a3aed0;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  margin: 0 10px;
}

.line,
.img {
  flex: 1;
  width: 20%;
  height: 1px;
}

.continueButton {
  color: white;
  background-color: #008afc;
  font-size: 14px;
  font-family: var(--font-poppins);
  font-weight: 700;
  word-wrap: break-word;
  width: 100%;
  height: 45px;
  padding: 10px 8px;
  border-radius: 12px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottomTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.forgotPassword {
  color: #005aa3;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  cursor: pointer;
}

.alreadyHaveAccountLabel {
  color: #1a1a1a;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.signInButton {
  color: #007aff;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  cursor: pointer;
}

.googleButton {
  display: flex;
  align-items: center;
  color: #2b3674;
  background-color: #a3aed0;
  font-size: 14px;
  font-family: var(--font-poppins);
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
  text-align: center;
  width: 100%;
  height: 43px;
  background: white;
  border-radius: 12px;
  border: 1px #e0e5f2 solid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
