.wrapper {
  display: flex;
  flex-direction: row;
  color: #8f9bba;
}

.navigation-panel {
  display: flex;
  flex-direction: column;
  color: white;
}

.rest-of-page {
  display: flex;
  flex-direction: column;
  color: #8f9bba;
}
