.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.bei {
  font-family: var(--font-poppins);
  color: #2b3674;
  font-size: 48px;
  font-weight: 700;
  word-wrap: break-word;
  padding-bottom: 1%;
}

.slogan {
  color: #008afc;
  font-size: 35px;
  font-family: var(--font-poppins);
  font-weight: 700;
  word-wrap: break-word;
  width: 100%;
}

.BEI-image {
  padding-bottom: 3%;
  width: 35%;
  height: 35%;
  max-width: 350px;
}
