.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5% 3% 3%;
}

.overallReportContainer {
  width: 100%;
}

.overviewReportContainer {
  margin-bottom: 72px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  color: #8f9bba;
}

.navigation-panel {
  display: flex;
  flex-direction: column;
  color: white;
}

.rest-of-page {
  display: flex;
  flex-direction: column;
  color: #8f9bba;
}

.title {
    color: #2b3674;
    font-family: var(--font-dm-sans);
    font-weight: 700;
    font-size: 28px;
    font-style: normal;
  }
