.container {
  width: 100%;
  height: max-content;
}

.dateSelector {
  margin-left: auto;
  padding-right: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 51px;
}

.header > p {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 29.705px;
  margin-left: 20px;
  color: #2b3674;
}

.body {
  display: flex;
  gap: 40px;
}

.textStats {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.textStatsWithHeader {
  flex: 0.9; /* This can be adjusted based on your layout needs */
  display: flex; /* Default to flexbox */
  flex-direction: column; /* Stack children vertically */
  row-gap: 20px; /* Space between items */
}

.body {
  display: flex; /* Main content container */
  flex-direction: row; /* Align items vertically */
}

@media (max-width: 1300px) {
  .textStats {
    display: grid; /* Switch to grid layout */
    grid-template-columns: repeat(2, 1fr); /* Create 2 equal columns */
    gap: 10px; /* Space between grid items */
    width: 100%; /* Ensure it takes full width */
    margin-bottom: 20px; /* Optional: space below textStats */
  }

  .body {
    flex-direction: column-reverse;
    margin-top: 20px; /* Optional: space between textStats and body */
  }
}

.body > .box { /* Assuming .box is the class for the custom component */
  flex: 0 0 calc(50% - 10px); /* Adjust width when needed */
  margin: 5px; /* Optional: add some spacing */
}


.graphs {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.sessionHeading {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 22px;
  color: #2b3674;
  padding-bottom: -5px;
}

.box {
  height: 93px;
}

.graph {
  width: 50%;
}
