.container {
  width: 100%;
  height: max-content;
}

.dateSelector {
  margin-left: auto;
  padding-right: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 51px;
}

.header > p {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 29.705px;
  margin-left: 20px;
  color: #2b3674;
}

.body {
  display: flex;
  gap: 40px;
}

.textStats {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.textStatsWithHeader {
  min-height: 0; /* Allows it to shrink if content reduces */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow: hidden; /* Prevents excess space */
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Enables wrapping on smaller screens */
}

@media (max-width: 1300px) {
  .textStats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
  }

  .body {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
}

.body > .box {
  flex: 1 1 calc(50% - 10px); /* Flexible sizing for adaptability */
  margin: 5px;
}

.graphs {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.sessionHeading {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 22px;
  color: #2b3674;
  padding-bottom: -5px;
}

.box {
  height: 93px;
}

.graph {
  width: 50%;
}
