.volunteerGridWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.volunteerGridTable {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  padding: 25px 30px 5px;
  display: flex;
  column-gap: 24px;
  align-items: center;
}

.table-header > p {
  color: #2b3674;
  font-size: 24px;
  font-weight: 600;
}

.topRow {
  background-color: #f4f4f4;
  color: #333;
}

.topRowContainer {
  padding: 10px 15px;
}

.statusToggle {
  display: inline-block;
  position: relative;
  width: 100px; /* Width of the switch */
  height: 34px; /* Height of the switch */
  margin-right: 1vw;
}

.statusToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.statusToggle span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #05cd99;
  transition: 0.4s;
  border-radius: 34px;
}

.statusToggle span:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.pageButton {
  /* Styles for pagination buttons */
  background: none;
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pageButton:hover {
  background-color: #f0f0f0;
}

.currentPage {
  background-color: #2196f3;
  color: white;
  border-color: #2196f3;
}

.atLimit {
  visibility: hidden;
}

.operationSuccessModal {
  width: 35%;
  height: 23%;
}
