.body {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 100%;
  font-size: 12px;
  box-shadow: 0px 0px 4px 4px #e5e8ee;
  background-color: #e7eeff;
  margin-top: 5px;
  padding: 22px 12px;
  border-radius: 20px;
  transition: all 0.75s ease-in-out;
}

.answer::placeholder {
  color: #888888;
}

.button_row {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.all_questions {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  row-gap: 20px;
  column-gap: 20px;
}

.question_box {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.label {
  text-align: left;
  margin-top: auto;
  vertical-align: middle;
  background-color: #fafafa;
  padding: 5px 12px;
  height: 100%;
  border: 1px solid #d9d9d9;
}

.email_label {
  width: 134px;
}

.email_answer {
  width: 263px;
}

.additional_affil_label {
  width: 192px;
}

.affiliation_answer {
  width: 346px;
}

.sec_person_name_label {
  width: 154px;
  white-space: nowrap;
}

.sec_person_name_answer {
  width: 305px;
}

.sec_person_phone_label {
  width: 134px;
}

.sec_person_phone_answer {
  width: 359px;
}

.select_dropdown_answer {
  display: inline-block;
  border: 1px solid #d9d9d9;
}

.answer {
  border: 1px solid #d9d9d9 !important;
}

.answerInput {
  height: 28px !important;
  border-radius: 0px !important;
  border: 0px solid;
}

.secondaryInfo {
  display: flex;
  flex-direction: column;
}

.secondaryInfo > .question_box {
  margin-top: 6px;
}

.secondaryInfoTitle {
  font-size: 12px;
  text-align: left;
  margin-top: -10px;
  color: #828282;
}

.calendarContainer {
  display: flex;
  background-color: white;
  align-items: center;
  height: 30px;
}

.active_patient_box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 17px;
}

.active_patient_box_label {
  padding-right: 12px;
}

.button_row_button {
  background-color: white;
  width: 95px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.button_blue {
  background-color: #008afc;
  color: white;
}
