.container {
  display: flex;
  justify-content: center;
  width: 80vw;
}

.border {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 70vw;
  border-radius: 10px;
  text-align: left;
  padding-left: 0.7vw;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  padding-right: 0.7vw;
}

.search-no-tags {
  width: 67vw;
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
  flex-direction: column;
  display: flex;
}

.search-bar {
  width: 55vw;
  background: #e7eeff;
  border-radius: 8px;
  border: none;
  color: #808080;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.34px;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 5vh;
}

.search-bar::placeholder {
  color: #808080;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.34px;
  word-wrap: break-word;
}

.search-icon {
  color: #2b3674;
  cursor: pointer;
  padding-top: 1vh;
}

.advanced-filter {
  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: 36.69px;
  word-wrap: break-word;
  cursor: pointer;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.1vh;
  column-gap: 0.7vw;
  padding-top: 1vh;
}
