.BarChart {
  background-color: white;
  border-radius: 15px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.titleBox {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: first baseline;
  height: 1.25em;
  height: auto;
  .titleText {
    font-family: var(--font-poppins);
    font-weight: 500;
    color: #a3aed0;
    font-size: 12px;
    white-space: nowrap;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .labelText {
    white-space: nowrap;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: var(--font-inter);
    font-weight: 500;
    color: #838383;
    font-size: 10px;
  }
  .title::-webkit-scrollbar {
    display: none;
  }
  .infoBox {
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 12px;
    cursor: pointer;
  }
  .percentageChange {
    display: flex;
    font-family: var(--font-inter);
    font-weight: 700;
    margin-left: 12px;
    font-size: 8.73px;
    white-space: nowrap;
  }
}

.yAxis line {
  strokewidth: 1px;
  color: #e3eafc;
}
.yAxis path {
  display: none;
}
