.row {
  border-bottom: 1px solid var(--Light-Blue-Grey, #e3eafc);
  width: 100%;
  height: 65px;
}

.row:last-child {
  border-bottom: none;
}

.RowCell > button {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.RowCellContainer {
  width: 100%;
  color: #2b3674;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 97%;
  font-family: var(--font-poppins);
  font-size: 15px;
  font-weight: 600;
  padding-left: 7px;
}

.RowCellContainer::-webkit-scrollbar {
  display: none;
}

.ExpandedRow {
  width: 100%;
  border-radius: 5px;
  background-color: var(--Selected-Blue, #e7eeff);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.ExpandedRowContainer {
  width: 111%;
  border-radius: 5px;
  background-color: var(--Selected-Blue, #e7eeff);
  display: flex;
  border-radius: 5px;
  padding: 15px;
  column-gap: 13px;
  flex-wrap: wrap;
  margin: 0 -5%;
}

.ExpandedRowColumn {
  display: flex;
  color: #2b3674;
  font-size: 13px;
  flex-direction: column;
}

.ExpandedRowColumn > div:first-child {
  font-weight: bold;
  margin-bottom: 8px;
}

.ExpandedRowColumn > div {
  margin-bottom: 4px;
}

.Header {
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid lightgrey;
}

.DetailRow {
  display: flex;
  margin-bottom: 5px;
  flex-direction: row;
}

.Detail {
  display: flex;
  width: 300px;
}

.Label {
  font-weight: bold;
  width: 130px;
  flex-shrink: 0;
}

.Content {
  flex-grow: 1;
  text-align: left;
}

.actionsContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
  flex-direction: row;
}

.approveButton {
  border-radius: 10px;
  background: rgba(50, 210, 150, 0.2);
  cursor: pointer;
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: none;
  color: #2b3674;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.968px; /* 174.737% */
  letter-spacing: -0.24px;
}

.denyButton {
  border-radius: 10px;
  background: rgba(240, 80, 110, 0.2);
  cursor: pointer;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: none;
  color: #2b3674;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.968px; /* 174.737% */
  letter-spacing: -0.24px;
}
