.chapterInfoHeading > p {
  color: #2b3674;
  font-family: var(--font-poppins);
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0px;
}

.chapterInfoSubheading > p {
  color: #2b3674;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0px;
}

.chapterSection {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 20px 0px;
}

.chapterImage:hover {
  cursor: pointer;
}

.chapterInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
