.modal {
  z-index: 50;
  background-color: #cdcdcd;
  width: 300px;
  border-radius: 12px;
  padding: 10px;
  border: "0.8px solid black";
  overflow: visible;
  white-space: normal;
  word-wrap: break-word;
}
