.Row {
  border-bottom: 1px solid var(--Light-Blue-Grey, #e3eafc);
  width: 100%;
  height: 65px;
}

.Row:last-child {
  border-bottom: none;
}

.caret {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.RowCellContainer {
  width: 100%;
  color: #2b3674;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 97%;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 600;
  padding-left: 7px;
}
.RowCellContainer::-webkit-scrollbar {
  display: none;
}

.RowCellText {
  width: fit-content;
}
.RowCellText:hover {
  cursor: pointer;
}

.StatusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  padding-right: 15%;
}

.DatabaseButton {
  width: fit-content;
  padding: 6px 14px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  text-align: center;

  background-color: #008afc;
  color: white;
  border: none;
  cursor: pointer;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 600;
}

.DatabaseButton:hover {
  opacity: 50%;
}

.ExpandedRowContainer {
  width: calc(100% + 20px);
  background-color: var(--Selected-Blue, #e7eeff);
  display: flex;
  border-radius: 5px;
  padding: 15px 30px;
  column-gap: 13px;
  flex-wrap: wrap;
  margin: 0 0 0 -10px;
  overflow: hidden;
}

.ExpandedRowColumn {
  flex: 1;
  display: flex;
  color: #2b3674;
  font-size: 14px;
  flex-direction: column;
}

.ExpandedRowColumn > div:first-child {
  font-weight: bold;
  margin-bottom: 8px;
}

.ExpandedRowColumn > div {
  margin-bottom: 4px;
}

.Header {
  font-weight: bold;
  margin-bottom: 10px;
}

.Detail {
  display: flex;
  margin-bottom: 5px;
}

.Label {
  font-weight: bold;
  width: 200px;
  flex-shrink: 0;
}

.Content {
  flex-grow: 1;
  text-align: left;
}
