.container {
  display: flex;
  background-color: white;
  height: 90vh;
  width: 136vh;
  padding: 6vh 5vh;
  margin: 5vh;
  border-radius: 10px;
}
.left {
  flex-direction: column;
  display: flex;
  gap: 10px;
  background-color: white;
  padding-right: 7vh;
}
.profile {
  color: #2078c1;
}
.password {
  color: #979797;
}
.signout {
  color: #ea4335;
}
.vl {
  border-left: 1.5px solid #c8c8c8;
  height: 100%;
  border-radius: 5px;
}
.info {
  background-color: white;
  width: 100%;
  padding-left: 5vh;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 9px;
  color: #2b3674;
}
.inputField input {
  height: 31px;
  border-radius: 5px;
  font-size: 12px;
}
.editable {
  background-color: #e7eeff;
  padding-left: 15px;
  border: 0cm;
}

.nonEditable {
  background-color: white;
  padding-left: 15px;
  border: 1px solid #979797;
}
.inputField label {
  font-size: 15px;
  font-weight: 600;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-bottom: 4vh;
}

.header img {
  border-radius: 10px;
}
.myContainer {
  background-color: white;
  width: 100%;
}
.myContainer label {
  font-size: 0.8cm;
  color: #2b3674;
}
.first {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  gap: 10px;
  background-color: white;
}

.second {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
}
.editButton {
  border-radius: 10px;
  padding: 15px 30px;
  border: 1px solid #979797;
  font-weight: bold;
  background-color: #2078c1;
  color: white;
}
.disabled {
  color: #979797;
  background-color: white;
}
