.container {
  display: flex;
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 6% 5%;
  border-radius: 10px;
  font-family: var(--font-poppins);
  overflow-y: auto;
}

.container * {
  font-family: var(--font-poppins);
}

.left {
  flex-direction: column;
  display: flex;
  gap: 16px;
  background-color: white;
  padding-right: 3%;
  font-weight: 600;
}
.left > div {
  cursor: pointer;
}
.profile {
  color: #2078c1;
  border-radius: 12px;
  width: 200px;
  height: 58px;
  padding: 16px;
}

.password {
  color: #2078c1;
  border-radius: 12px;
  width: 200px;
  height: 58px;
  padding: 16px;
}
.signout {
  color: #ea4335;
  border-radius: 12px;
  width: 200px;
  height: 58px;
  padding: 16px;
}
.vl {
  border-left: 1.5px solid #c8c8c8;
  height: 100%;
  border-radius: 5px;
}
.info {
  background-color: white;
  width: 100%;
  padding: 0% 3%;
  height: 100%;
  overflow: auto;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputHeader {
  display: flex;
  flex-direction: row;
  gap: 9px;
  color: #2b3674;
  font-family: var(--font-poppins);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  gap: 1fr;
}

.inputField {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 9px;
  color: #2b3674;
}
.inputField input {
  height: 40px;
  border-radius: 12px;
  font-size: 13px;
  border: 1px solid var(--Dark-Blue-Grey, #9ca5c2);
}
.nonEditable {
  background-color: #e7eeff;
  padding-left: 15px;
  border: 0cm;
  color: #8f9bba;
  cursor: not-allowed;
}

.editable {
  background-color: white;
  padding-left: 15px;
  border: 1px solid #979797;
  color: #2b3674;
}
.inputField label {
  font-size: 17px;
  font-weight: 600;
}
.inputFieldRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-bottom: 4%;

  .profile-image {
    display: flex;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
  }
}

.header img {
  border-radius: 10px;
}
.myContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--8, 8px);
  background-color: white;
  width: 100%;
  padding-left: 30px;
}
.myContainer label {
  font-size: 0.8cm;
  color: #2b3674;
}
.first {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: white;
}
.first > label {
  font-weight: 600;
}
.second {
  color: #9ca5c2;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 5px;
}
.third {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.tag > p {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.editButton {
  height: 40px;
  width: 40px;
  border-radius: 42px;
  padding: 5px;
  border: 0px;
  background-color: white;
  cursor: pointer;
}
.submitButton {
  border-radius: 10px;
  padding: 15px 30px;
  border: 0px;
  font-weight: bold;
  background-color: #008afc;
  color: white;
  cursor: pointer;
}
.disabled {
  background-color: #e3eafc;
  color: #2b3674;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
